# Credentials (DO NOT PUSH TO GITHUB)
.env

# Dependencies
node_modules/
frontend/node_modules/

# Production builds
frontend/dist/

# Local databases
processed_emails.json

# IDEs & System files
.vscode/
.idea/
.DS_Store
Thumbs.db
Corteva/
FMC/
FMC POs/
BILLING COPIES/
scratch/

Details of Bills 2026 TO 2027.xlsx
# Python cache
__pycache__/
*.py[cod]
*$py.class
