# Credentials (DO NOT PUSH TO GITHUB)
.env

# Dependencies
node_modules/
frontend/node_modules/

# Production builds
frontend/dist/

# Local databases
processed_emails.json

# IDEs & System files
.vscode/
.idea/
.DS_Store
Thumbs.db
Corteva/
FMC/
FMC POs/
scratch/

# Python cache
__pycache__/
*.py[cod]
*$py.class
